<div id="search-gift" class="search-gift">
  <div id="search-gift-label" class="column prepend-1">
    Gift URL
  </div>
  <div id="search-gift-input" class="column">
    <%= text_field_tag 'gift-url'%> 
  </div>
  <div id="search-gift-submit" class="column">
    <%= submit_search %>
  </div>
</div>