<h2>Welcome <%= @user.name %></h2>
<h3>
  Congrats! Your <%= link_to 'Gifty Fifty', root_url(:host => 'www.giftyfifty.com')%> account has been created, thanks for joining.
</h3>

<p>
  Your login is: <span><%= @user.email %></span>
  Your password is: <span><%= @user.password %></span>
</p>

<p>
  Now let's do celebrate we're on time, hurry up and tell everybody about the occasion! Post it on your Facebook, Tweet it, send the email and share your exclusive URL gift.
</p>

<p>
  Remember one thing, any donation bring you closer to you gift.
</p>