// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-grid-columns: 24;
$blueprint-container-size: 950px;
$blueprint-grid-margin: 10px;

// Use this to calculate the width based on the total width.
// Or you can set $blueprint-grid-width to a fixed value and unset $blueprint-container-size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

ul {
  list-style: none;
}

.last {
  margin-right: 0px !important;
}

body {
  background: url('../images/background.png');
  margin: 10px 0 0 0;
  @include regular-text;
}

body a {
  @include regular-text;
  text-decoration: none;
}

body a:hover {
  @include regular-text($text-color-alt);
}

.clearBoth {
  clear: both;
}

.emptyField {
  border: solid 3px #FF0000 !important;
}

#box-content {
  display: none;
}

.button-blue {
  background-color: #4CD3EC;
  border: 3px solid #28CAE8;
  color: #FFFFFF;
  float: right;
  font-family: georgia;
  font-size: 17px;
  margin: 10px;
  padding: 3px 20px;
  width: 120px;
}

h1 {
  @include border-rounded(5px);
  background-color: #DFF3F7;
  clear: both;
  color: #23B8D1;
  font-family: georgia;
  font-size: 24px;
  padding: 7px 10px;
  width: 260px;
}

#header {
  background: url("../images/home_header.png") no-repeat;
  display: block;
  height: 131px;
  width: 927px;
  margin: 0 auto;
  
  #login-box {
    float: right;
    color: #23B8D1;
    font-size: 16px;
    margin: 80px 20px 0 0;
    padding: 15px 10px 10px;
    
    ul#login-links {
      li {
        float: left;
        margin: 0  0 0 31px;
      }
    }
    
    #user-menu {
      background: url(../images/arrow-dropdown.png) no-repeat right;
      padding: 0 20px 0 0;
      cursor: pointer;
      
      img {
        border: 3px solid #23B8D1;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        margin:-10px 0;
      }
    }
    
    #menu-content {
      background: #292929;
      position:absolute;
      display: none;
      z-index:1000;
      margin: 10px 0 0 -10px;
      
      li {
        background: #5e5e5e;
        margin:0 0 0 10px;
        float:left;
        list-style: none;
        
        a {
          color: #23B8D1;
          font-size: 14px;
          text-decoration: none;
          margin: 0 0 0 5px;
          width: 100%;
          padding: 0;
        }
      }
      
      li#last {
        margin-bottom: 10px;
      }
      
      li:hover {
        background: #797979;
      }
    }
    
  }
  
  #label-beta {
    float: left;
    margin: 128px 0 0 -31px;
  }

  #logo {
    float: left;
    margin: 16px 0 0 -39px;
  }
  
}

body.application {
  #content {
    @include bottom-rounded(10px);
    background: #FFFFFF;
    margin: 0 auto 0;
    padding: 100px 45px 10px;
    width: 820px;
    
    p {
      color: #959595;
      font-size: 14px;
      margin: 20px 5px;
    }
    
    a{
      color: #4CD3EC;
      text-decoration: none;
    }
    label {
      color: #3B3B3B;
      display: inline-block;
      font-size: 12px;
      width: 80px;
    }
    
    h2 {
      color: #23B8D1;
      font-size: 16px;
      margin-top: 20px;
    }
    
    #col-left, #col-right {
      float: left;
      margin: 0;
      width: 400px;
    }
    
    #col-left {
      margin: 0 10px 0 0;
    }
    
    #main {
      float: left;
      width: 545px;
    }
    
    #aside {
      float: left;
      width: 200px;
    }
    
    input[type=text], input[type=password], select {
      @include border-rounded(5px);
      border: 3px solid #C2C2C2;
      color: #6B6B6B;
      font-size: 14px;
      padding: 5px;
      width: 250px;
    }
    
    input[type=submit] {
      background-color: #4CD3EC;
      border: 3px solid #28CAE8;
      color: #FFFFFF;
      float: right;
      font-family: georgia;
      font-size: 17px;
      margin: 10px 0 0;
      padding: 3px 20px;
      width: 100px;
    }
    
    .aside-container {
      @include border-rounded(5px);
      background-color: #3B3B3B;
      border: 3px solid #6B6B6B;
      float: left;
      margin: 65px 0 0 50px;
      padding: 12px;
      width: 195px;
    }
    
    .porcentage-info {
        @include border-rounded(5px);
        background-color: #EEEEEE;
        border: 4px solid #AAAAAA;
        color: #23B8D1;
        height: 20px;
        margin: 10px 0 0;
        padding: 5px;
        width: 180px;
    
      .advance {
        @include border-rounded(5px);
        background: url("../images/stripes_grey.png") repeat-x;
        margin: 0;
        overflow: hidden;
        width: 100%;
      
        .stripes  {
          @include border-rounded(5px);
          background: url("../images/stripes.png") repeat-x;
          display: block;
          height: 20px;
          max-width: 100%;
        }
      }
    }
  }
  
  #footer {
    background-color: #3B3B3B;
    font-size: 12px;
    height: 85px;
    margin: 10px auto 0;
    overflow: hidden;
    padding-top: 12px;
    text-shadow: 1px 1px 1px #8F8F8F;
    
    #footer-links {
      margin: 10px auto 30px;
      overflow: hidden;
      padding-top: 12px;
      text-shadow: 1px 1px 1px #8F8F8F;
      width: 910px;
      
      ul#footer-contact {
        float:left;
      }
      
      ul#footer-legal {
        float:right;
      }
      
      li {
        color: #FFFFFF;
        float: left;
        padding: 0 10px;
      }
    }
  }
}