div#login-signin-box {
  font-weight: bold;

  div {
    float: left;
    padding: 0 10px 0 5px;
    width: 290px;
  }
  
  .login {
      background: url("../images/login_bg.png") no-repeat;
      min-height: 230px;
  }
  
  .sign-in {
    background: url("../images/login_big_bg.png") no-repeat scroll 0 0 transparent;
    min-height: 334px;
  }
  
  .account {
    margin: 0 75px 0 0;
  }
  
  .login {
    margin-top: 50px !important;
  }
  
  #providers {
    p {
      margin: 10px;
    }
    img {
      float: left;
      margin: 0 0 0 50px;
      width: 15%;
    }
    a{
      font-size: 14px;
      
      span {
        font-size: 20px;
      }
    }
  }
  
  h1 {
    background: none;
    color: #FFFFFF;
    font-family: Georgia;
    font-size: 24px;
    text-align: right;
  }
  
  label {
    color: #3B3B3B;
    display: inline-block;
    font-size: 12px;
    width: 200px;
  }
  
  
  input[type=text], input[type=password] {
    @include border-rounded(5px);
    border: 3px solid #C2C2C2;
    color: #6B6B6B;
    font-size: 10px;
    height: 10px;
    padding: 5px;
    width: 250px;
  }
}