a#delete_account {
  font-size: 14px;
}

label#pobox {
  width: 250px !important;
}

#user_avatar {
   margin: 0 0 0 30px;
}

section#personal-info, section#bottom {
  border-bottom: 1px dotted #3B3B3B;
}