.container #header {
  text-align: center;
}

#header #login-header {
  float: right;
}

#account {
  border-right: 1px solid #000;
}

.new-box label {
  width: 100px;
  display:inline-block;
  text-align: right;
}

.new-box input {
  width: 200px;
}

#providers  img{
  margin: 60px 10px 0 15px;
}

#login {
  text-align: right;
}

#search-gift {
  text-align: center;
  margin-top: 20px;
}

#search-gift input[type=text] {
  width: 500px;
  height: 40px;
  border: 15px solid #5F6062;
  font-size: 40px;
  margin-top: 0px;
  margin-right: 15px;
}

#search-gift input[type=submit], .event-gift input[type=submit] {
  width: 120px;
  height: 70px;
  background: #5F6062;
  color: #FFFFFF;
  font-size: 30px;
  margin: 0px;
}

#search-gift #search-gift-label {
  font-size: 40px;
  margin: 0 20px 0 0;
}

.ui-dialog-titlebar {
  background: transparent !important;
  border: 0;
}

.ui-dialog {
  background: url("images/ui-bg_highlight-hard_100_f2f5f7_1x100.png") repeat-x scroll 50% top #F2F5F7;
}

.ui-dialog-titlebar-close {
  border: 1px solid #74b2e2;
  background: #e4f1fb url(images/ui-bg_glass_100_e4f1fb_1x400.png) 50% 50% repeat-x;
  font-weight: bold;
  color: #0070a3;
}

.event-gift img {
  max-width: 220px;
}

.event-gift h1 {
  color: #5F6062;
  font-size: 26px;
}

.event-gift h3 {
  color: #5F6062;
  font-size: 22px;
}