body {
  background: url('../images/bg.png') repeat;
}

.container #header {
  text-align: center;
}

#header {
  -moz-border-radius-bottomleft:10px;
  -moz-border-radius-bottomright:10px;
  background-color:#3B3B3B;
  display:block;
  height:75px;
}

#logo{
  overflow:hidden;
  margin-left:30px;
  float:left;
}

#logo img{
	float:left;
}
#logo h1{
	float:left;
	font-family:"GeorgiaBoldItalic";
	font-size:22px;
	color:#67daef;
	margin-top:28px;
	margin-left:5px;
}

#nav-top{
	float:right;
	margin-right:10px;
	margin-top:27px;
}

#nav-top ul{
	list-style-type:none;
}

#nav-top ul li{
	float:left;
	margin:0 15px;
	display:block;
}

#nav-top ul li a{
	color:#FFFFFF;
	font-family:"GeorgiaBold";
	font-size:15px;
	text-decoration:none;
	/*text-shadow:#000000 2px 2px 5px;*/
}

#nav-top ul li a:hover{
	color:#67daef;
}

#section-content{
	display:block;
	background-image:url(../images/content_bg.png);
	background-repeat:repeat-x;
	background-color:#61cbd9;
	width:850px;
	margin:0 auto;
	padding:65px 30px 25px 30px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;	
}

#section-content #content{
	display:block;
	min-height:200px;
	overflow:hidden;
}

#section-content #content h2{
	display:block;
	overflow:hidden;
	color:#FFFFFF;
	font-family:"GeorgiaBoldItalic";
	text-decoration:none;
	text-align:center;
	text-shadow:#c5c5c5 1px 1px 1px;
}


#header #login-header {
  float: right;
}

#account {
  border-right: 1px solid #000;
}

.new-box label {
  width: 100px;
  display:inline-block;
  text-align: right;
}

.new-box input {
  width: 200px;
}

#providers  img{
  margin: 60px 10px 0 15px;
}

#login {
  text-align: right;
}

#search-gift {
  text-align: center;
  margin-top: 20px;
}

#search-gift input[type=text] {
  width: 450px;
  height: 40px;
  border: 15px solid #5F6062;
  font-size: 40px;
  margin-top: 0px;
  margin-right: 15px;
}

#search-gift input[type=submit], .event-gift input[type=submit] {
  width: 120px;
  height: 70px;
  background: #5F6062;
  color: #FFFFFF;
  font-size: 30px;
  margin: 0px;
}

#search-gift #search-gift-label {
  font-size: 40px;
  margin: 0 20px 0 0;
}

.ui-dialog-titlebar {
  background: transparent !important;
  border: 0;
}

.ui-dialog {
  background: url("images/ui-bg_highlight-hard_100_f2f5f7_1x100.png") repeat-x scroll 50% top #F2F5F7;
}

.ui-dialog-titlebar-close {
  border: 1px solid #74b2e2;
  background: #e4f1fb url(images/ui-bg_glass_100_e4f1fb_1x400.png) 50% 50% repeat-x;
  font-weight: bold;
  color: #0070a3;
}

.event-gift img {
  max-width: 220px;
}

.event-gift h1 {
  color: #5F6062;
  font-size: 26px;
}

.event-gift h3 {
  color: #5F6062;
  font-size: 22px;
}

#donation_thanks {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

#donation_thanks p{
  border: 2px solid #ffffff;
  background: #30C5DA;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#donation_share {
  color: #30C5DA;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#donation_share div {
  background: #000000;
  border: 2px solid #ffffff;
  -moz-border-radius: 10px;
  border-radius: 10px;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

#donation_share p  {
  filter:alpha(opacity=100);
  -moz-opacity:1;
  -khtml-opacity: 1;
  opacity: 1;
}

#donation_bar {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #ffffff;
  background: #30C5DA;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#donation_bar p {
  font-size: 18px;
}

p#rest_days {
  background: #FFFFFF;
  color: #000000;
  margin: 0 20px 10px 20px;
}

#progressbar {
  margin:10px;
}

#footer{
	font-family:"LucidaGrandeBold";
	font-size:12px;
	color:#21acc5;
	display:block;
	height:60px;
	width:880px;
	margin:7px auto;
	padding:15px;
	background-color:#3b3b3b;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

#footer a{
	color:#21acc5;
	text-decoration:none;
}

#footer #nav-footer{
	overflow:hidden;
	float:left;
}
#footer #nav-footer ul{
	list-style-type:none;
}
#footer #nav-footer li{
	float:left;
	margin-right:15px;
}
#footer #legal{
	float:right;
}
