/* CSS Document */

/*==================================
  Reset
==================================*/

*{
  margin:0;
  padding:0;
  border:none;
  font-family: Lucida Grande;
  font-weight: Bold;
}

/*==================================
  General
==================================*/

body{
  background:url(../images/body_bg.jpg) repeat;
}
#wrapper{
  width:927px;
  margin:5px auto;
}
#header{
  display:block;
  height:131px;
  position:relative;
  background-image:url(../images/home_header.png);
}
#header .label-beta {
  float:left;
  margin:120px 0 0 -30px;
}
#header .logo {
  float:left;
  margin:20px 0 0 -30px;
}
#login{
  float: right;
  margin: 85px 20px 0 0;
  color: #23B8D1;
  padding: 15px 10px 10px;
}
.left {
  float: left;
}
.hidden {
  display: none;
}
#login #menu_toggle {
  background: url(../images/arrow-dropdown.png) no-repeat right;
  padding: 0 20px 0 0;
  cursor: pointer;
}

#login #menu_toggle img {
  border: 3px solid #23B8D1;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  margin:-10px 0;
}

#login #menu_content {
  background: #292929;
  position:absolute;
  display: none;
  z-index:1000;
  margin: 10px 0 0 -10px;
}

#login #menu_content #menu_elements {
  background: #5e5e5e;
  margin:0 0 10px 10px;
}

#login #menu_content #menu_elements a {
  color: #23B8D1;
  font-size: 14px;
  text-decoration: none;
  margin: 0 0 0 5px;
}

#login #menu_content #menu_elements p {
  margin: 0 0 5px 0;
}

#login #menu_content #menu_elements p:hover {
  background: #797979;
}

#login li{
  float:left;
  list-style: none;
}

#login li a{
  font-size:12px;
  color:#FFF;
  padding:0 15px;
  text-decoration:none;
}

#login li a:hover{
  color:#63C5D7;
}

#content{
  margin:-5px auto 0 auto;
  background:#f5f5f5 url(../images/content_bg.jpg) repeat-x;
  padding:45px 45px 10px 45px;
  width:820px
  ;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius:0 0 10px 10px;
}

#footer {
  background-color:#3b3b3b;
  height:85px;
  font-size:12px;
  text-shadow:#8f8f8f 1px 1px 1px;
  overflow:hidden;
  padding-top:12px;
  margin:10px auto 0 auto;
}

#footer-links {
  width:910px;
  font-size:12px;
  text-shadow:#8f8f8f 1px 1px 1px;
  overflow:hidden;
  padding-top:12px;
  margin:10px auto 0 auto;
}

#footer-links ul, #footer ul{
  list-style-type:none;
}
#footer-links ul {
  float:left;
  margin: 0 0 0 0;
}
#footer-links ul img{
  margin: -5px 0 0 0;
}
#footer-links ul li, #footer ul li{
  float:left;
  color:#FFF;
  padding:0 10px;
}
#footer-links ul li a, #footer ul li a{
  color:#FFF;
  text-decoration:none;
}
#footer-links ul li a:hover, #footer ul li a:hover{
  color:#000;
}

#footer #footer-contact{
  float:left; 
}

#footer #footer-legal{
  float:right;
  margin: 0 0 0;
}

#footer-links .footer-legal, #footer-links .footer-contact{
  margin: 0 30px 0 0;
}

.clearBoth {
  clear: both;
}

label.error {
  width: 100% !important;
  color: red !important;
}
/*==================================
  Login modal box
==================================*/

div#login-signin-box div#account {
  width: 350px;
  float: left;
  padding: 0 10px 0 0;
  margin-right: 1px #4E4E4E solid;
}

/*==================================
  Home
==================================*/
.home {
  background: url('../images/content_bg.png') repeat-x #21A9C2 !important;
  border:3px #0FBBDA solid;
  margin-top: -5px;
  min-height: 320px;
}

.steps {
  background: url('../images/steps_bg.png') #00CBEB !important;
  border:3px #0FBBDA solid;
}

div.home .lens{
 margin: -160px 0 0px 93px;
}

div.home #busqueda{
  margin: -35px auto 0 auto;
  width: 650px;
}
div.home #busqueda span{
  font-family: Lucida Grande;
  font-size: 19px;
  font-weight: bold;
  color:#FFFFFF;
  float: left;
  margin:15px 0 0 10px;
}

div.home #busqueda div#form {
  float: left;
}

div.home #busqueda input[type=text]{
  color:#CECECE;
  font-size:20px;
  padding:10px 15px;
  width:535px;
  margin: 9px 0 0 13px;
  border: 5px solid #67E5FB;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-box-shadow: 0 5px 10px #56B1C1;
  -webkit-box-shadow: 0 5px 10px #56B1C1;
  box-shadow: 0 5px 10px #56B1C1;
}

div.home #busqueda .search-submit {
  font-family: Lucida Grande;
  color: #FFFFFF;
  font-size: 26px;
  font-weight: bold;
  background: none;
}

div.home span.copy, div.home span.paste {
  font-family: Georgia;
  font-size: 20px;
  font-weight: bold italic;
  color: #FFFFFF;
  display: block;
}

div.home span.copy {
  margin: 80px 0 0 0;
  text-align:center;
  width:160px;
}

div.home span.paste {
  margin:-200px 0 0 600px;
}

div.home ul{
  list-style-type:none;
  margin: 0 0 30px 45px;
  float: left;
}
  

div.home ul li{
  display:block;
  float:left;
  font-size:16px;
  color:#FFFFFF;
}
div.home ul li h3{
  font-family: "GeorgiaBoldItalic";
}

div.home li#step2 img {
  margin: -18px 0 0 0;
}

div.home li h3 {
  margin: -18px 0 0 0;
}

div.home li#step3 img {
  margin: -48px 0 0 0;
}
/*==================================
  Footer
==================================*/

ul.ilustrations{
  background-color:#3B3B3B;
  border:3px solid #707070;
  margin:10px 0 0;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  padding:10px 17px;
  overflow:hidden;
  list-style-type:none;
}

ul.ilustrations li{
  background: url('../images/label.png') no-repeat;
  float:left;
  width: 240px;
  min-height: 140px;
  margin:0 25px 0 25px;
  color: #ffffff;
  font: bold 14px Lucida Grande;
}

ul.ilustrations li img.step1 {
  margin: 10px 0 0 40px;
}

ul.ilustrations li img.step2 {
  margin: 5px 0 20px 60px;
}

ul.ilustrations li img.step3 {
  margin: 10px 0 15px 60px;
}

ul.ilustrations li h3 {
  color: #00CBEB;
  font: italic bold 22px Georgia;
}

ul.explination {
  margin:10px 0 0;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  padding:10px 17px;
  overflow:hidden;
  list-style-type:none;
}

ul.explination li{
  float:left;
  width: 240px;
  margin:0 25px 0 25px;
  color: #ffffff;
  font: bold 14px Lucida Grande;
}

ul.explination li h3 {
  color: #3b3b3b;
  font: italic bold 22px Georgia
}
/*==================================
  My Profile
==================================*/

#my_profile h1 {
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  background-color:#DFF3F7;
  color:#23B8D1;
  font-family:"GeorgiaBoldItalic";
  font-size:24px;
  padding:7px 10px;
  width:260px;
  float: left;
}

#my_profile .profile {
  border: 1px dotted ;
  padding: 10px;
  font-size:24px;
  margin: 20px 0;
  float: left;
  width: 100%;
}

#my_profile .profile img {
  float: left;
  margin: 0 10px 0 0;
}

#my_profile .profile .age {
  font-size:18px;
}

#my_profile div.gift {
  margin: 20px 0;
  float: left;
}

#my_profile div.gift img {
  max-width:85px;
  float: left;
  margin: 0 auto 10px auto;
}

#my_profile div.gift span.price {
  color:#23B8D1;
}


#my_profile div.gift ul {
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  background-color:#DFF3F7;
  overflow:hidden;
  line-height:18px;
  list-style-type:none;
  margin: 10px 0;
}

#my_profile div.gift ul li {
  float:left;
  font-size:12px;
  padding:0 5px;
}

#my_profile div.gift div.gift-info {
  width: 450px;
  float:left;
  margin: 0 0 0 10px;
}

.gift-info .view_button, .gift-info .gift_donations {
  float:left;
}

.gift-info .view_button {
  margin: 35px 0 0 15px;
}

#my_profile div.gift li span {
  color:#23B8D1;
  text-decoration:none;
}

#my_profile div.gift .advance{
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  background-color:#FFFFFF;
  border:4px solid #D5D4D2;
  height:20px;
  padding:5px;
  width:180px;
  margin: 10px 0 0 0;
  overflow:hidden;
} 

#my_profile div.gift .stripes {
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  background:url("../images/stripes.png") repeat-x scroll 0 0 transparent;
  display:block;
  height:20px;
}

#my_profile div.gift .porcentage_gift {
  color: #187D8E;
  font-size: 14px;
}

#my_profile p.donation {
  float: left;
}


/*==================================
  Sign-in, Sign-up pages
==================================*/

#sign-up h1, #sign-in h1, #account h1{
  -moz-border-radius:5px 5px 5px 5px;
  background-color:#DFF3F7;
  color:#23B8D1;
  font-family:"GeorgiaBoldItalic";
  font-size:24px;
  padding:7px 10px;
  width:260px;
}

#account h2, #providers h2 {
  color:#23B8D1;
  font-size:18px;
}

#login-signin-box #providers img {
  float:left;
}

#login-signin-box #providers #provider_facebook, #login-signin-box #providers #provider_twitter {
  height: 80px;
}

#login-signin-box #providers #provider_facebook {
  margin: 80px 0 20px 0;
}

#sign-up form label, #sign-in form label, #account form label{
  color:#3B3B3B;
  display:inline-block;
  font-size:12px;
  width:100px;
}


#account form label{ 
  width: 200px;
}

#sign-up form input[type=text], #sign-up form input[type=password],
#sign-in form input[type=text], #sign-in form input[type=password], 
#account form input[type=text], #account form input[type=password] {
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border:3px solid #C2C2C2;
  color:#6B6B6B;
  font-size:14px;
  padding:5px;
  width:250px;
}

#sign-up form input[type=submit],
#sign-in form input[type=submit],
#account form input[type=submit] {
  background-color:#4CD3EC;
  border:3px solid #28CAE8;
  color:#FFFFFF;
  float:right;
  font-family:"GeorgiaBoldItalic";
  font-size:17px;
  margin:10px 0 0;
  padding:3px 20px;
  width:100px;
}

#sign-up form p, #sign-in form p, #account form p {
  margin: 20px 5px;
}

#sign-up a, #sign-in a, #account a {
  color: #4CD3EC;
  text-decoration: none;
}

/*==================================
  New Event
==================================*/
#event-new form p {
  margin: 20px 5px;
  width:100%;
}

#event-new form textarea {
  height:125px !important;
  width:370px !important;
}

#event-new form #event_start_at, #event-new form #event_end_at {
  width:105px;
}

#event-new form label {
  color:#3B3B3B;
  display:inline-block;
  font-size:12px;
  width:80px;
}

#event-new div.dates {
  float: left;
  margin: 0 0 0 40px;
}

#event-new div.description_dates {
  float: left;
  margin: 20px 0 0 0;
  width: 100%;
}

#event-new div.title {
  float: left;
  margin: 0 0 0 40px;
}

#event-new form input, #event-new form textarea, #event-new form select{
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border:3px solid #C2C2C2;
  color:#6B6B6B;
  font-size:14px;
  padding:5px;
  width:250px;
}

#event-new form input[type=submit], #event-new form input[type=button] {
  background-color:#4CD3EC;
  border:3px solid #28CAE8;
  color:#FFFFFF;
  float:right;
  font-family:"GeorgiaBoldItalic";
  font-size:17px;
  margin:10px 0 0;
  padding:3px 20px;
  width:100px;
}

/*==================================
  Content
==================================*/

#login li img{
  margin-right:5px;
  margin-top:-10px;
}
#login li img#profile-pic{
  border:#23B8D1 2px solid;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
#login li.welcome-name{
  color:#23B8D1;
}

#content #col-1{
  width:545px;
  float:left;
}
#content #col-1 #gift-header{
  padding:7px 10px;
  background-color:#DFF3F7;
  color:#23B8D1;
  width:260px;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
#content #col-1 #gift-header h1{
  font-family:"GeorgiaBoldItalic";
  font-size:24px;
}

#content #col-1 #gift{
  border:#CCC dashed 1px;
  margin:20px 0;
  padding:20px;
  overflow:hidden;
}
.gift a.view_event {
  color: #23B8D1;
}
#content #col-1 #gift .gift-image{
  float:left;
  margin-right:10px;
}
#content #col-1 #gift .gift-image img{
  max-width: 85px;
}
#content #col-1 #gift #gift-description{
  float:left;
  width:405px;
}
#content #col-1 #gift .gift-title{
  font-size:13px;
  color:#3B3B3B;
}
#content #col-1 #gift .gift-price{
  font-size:19px;
  color:#23B8D1;
}
#content #col-1 #gift .gift-details{
  list-style-type:none;
  line-height:18px;
}
#content #col-1 #gift .gift-by, #content #col-1 #gift .gift-categories, #content #col-1 #gift .gift-powered{
  font-size:12px;
  color:#6B6B6B;
}
#content #col-1 #gift .gift-by span, #content #col-1 #gift .gift-categories span, #content #col-1 #gift .gift-powered span{
  color:#23B8D1;
  text-decoration:none;
}
#content #col-1 #gift-form
{
}
#content #col-1 #gift-form label
{
  font-size:15px;
  color:#3B3B3B;
}
#content #col-1 #gift-ocassion
{
  color:#3B3B3B;
}
#content #col-1 #facebook-connect
{
  color:#333;
  background-color:#FFF;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  padding:20px;
  float:left;
  width: 505px;
}
.facebook_like_button {
  float:left;
  display: inline;
}
#content #col-1 #facebook-connect h3 {
  font-size:16px;
  padding-bottom:5px;
  border-bottom:#333 2px solid;
  float:left;
  display: inline;
  width: 500px;
  margin: 0 0 10px 0;
}
#content .aside{
  float:left;
  width:200px;
}
#content .aside-container{
  width:195px;
  padding:12px;
  margin:65px 0 0 50px;
  border:#6B6B6B 3px solid;
  background-color:#3B3B3B;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  float: left;
}

#content .aside-container h3{
  
}

#content p{
  font-size:14px;
  color:#959595;
  line-height:28px;
}
#content p.title{
  font-size:16px;
  color:#23B8D1;
}
div.edit #footer, body.public-gift-profile #footer{
  margin-top:25px;
}



/*==================================
  Edit Page
==================================*/

div.edit input, div.edit select, div.edit textarea{
  color:#C2C2C2;
  border:#C2C2C2 3px solid;
  font-size:15px;
  padding:7px;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
#gift-form{
  position:relative;
}
#occasion{
  float: left;
}
input#gift-occasion{
  width:190px;
}
#title{
  float: right;
}
input#gift-title{
  width:285px;
}
#description{
  float: left;
  margin: 10px 0 0 0;
}
textarea#gift-description{
  width:370px;
  height:125px;
}
#title{
  float: right;
}
#begin{
  float: right;
  margin: 10px 0 0 0;
}
input#event_start_at{
  width:105px;
}
#end{
  float: right;
  margin: 53px 0 0 0;
}
input#event_end_at{
  width:105px;
}
input#save{
  color:#FFF;
  font-family:"GeorgiaBoldItalic";
  font-size:17px;
  padding:3px 20px;
  background-color:#4CD3EC;
  border:#28CAE8 3px solid;
  width:100px;
  margin: 10px 0 0 0;
  float: right;
}

/*==================================
  User Edit Settings
==================================*/

.edit-settings #col-1 {
  width: 430px !important;
}

.edit-settings #col-2 {
  float: left;
  width: 380px !important;
}

.edit-settings h1 {
    padding:7px 10px;
    background-color:#DFF3F7;
    color:#23B8D1;
    width:260px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    font-family:"GeorgiaBoldItalic";
    font-size:24px;
}

.edit-settings h2 {
  color: #23B8D1;
  font-size: 16px;
  margin-top: 20px;
}

.edit-settings form input[type=text], .edit-settings form input[type=password], .edit-settings form select {
  padding:5px;
  font-size:14px;
  color:#6B6B6B;
  border:#C2C2C2 3px solid;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  width: 250px;
}

.edit-settings form p {
  margin: 20px 5px;
}

.edit-settings form label, .edit-settings form div.field_with_errors label {
  color:#3B3B3B;
  font-size: 12px;
  display: inline-block;
  width: 80px;
}

.edit-settings form div.field_with_errors input {
  border: 1px solid red;
}

.edit-settings form div.field_with_errors {
  float:left;
}

.edit-settings input[type=submit] {
  background-color:#4CD3EC;
  border:3px solid #28CAE8;
  color:#FFFFFF;
  float:right;
  font-family:"GeorgiaBoldItalic";
  font-size:17px;
  margin:10px 0 0;
  padding:3px 20px;
  width:100px;
}

.edit-settings a {
  color: #4CD3EC;
  text-decoration: none;
}

.edit-settings form label#pobox {
  width: 300px;
}

.edit-settings form #bottom label {
  width: 155px;
}

.edit-settings #top, .edit-settings #bottom {
  border-bottom: 1px #3B3B3B dotted;
}

/*==================================
  User Gift Profile Page
==================================*/

#content div.gift-profile #col-1 #gift-header{
  width:525px;
  overflow:hidden;
}
#content div.gift-profile #col-1 #gift-header img{
  float:left;
  border:#23B8D1 3px solid;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
#content div.gift-profile #col-1 h1{
  width:525px;
  padding:20px 0 0 90px;
}

#content div.gift-profile #col-1 #gift {
  border:none;
}
#content div.gift-profile #col-1 #gift .gift-title, #content div.gift-profile #col-1 #gift .gift-price {
  font-size:16px;
  float:left;
}
#content div.gift-profile #col-1 #gift .gift-price{
  margin-left:10px;
  line-height:normal;
}
#content div.gift-profile #col-1 #gift .gift-details{
  background-color:#DFF3F7;
  overflow:hidden;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  clear:both;
}
#content div.gift-profile #col-1 #gift .gift-details li{
  font-size:12px;
  padding:0 5px;
  float:left;
}
#content div.gift-profile #col-1 #gift .gift-description{
  font-size:17px;
  color:#23B8D1;
  margin-top:35px;
}
#content div.gift-profile #col-1 #gift .gift-description p{
  font-size:13px;
  line-height:20px;
  color:#6B6B6B;
}
#content div.gift-profile #col-1 #gift .gift-donate{
  margin-top:25px;
  width:350px;
  color:#6B6B6B;
}
#content div.gift-profile #col-1 #gift .gift-donate span{
  font-size:17px;
}
#content div.gift-profile #col-1 #gift .gift-donate input{
  padding:5px;
  font-size:14px;
  color:#6B6B6B;
  border:#C2C2C2 3px solid;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
#content div.gift-profile #col-1 #gift .gift-donate input{
  padding:5px;
  font-size:14px;
  color:#6B6B6B;
  border:#C2C2C2 3px solid;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
#content div.gift-profile #col-1 #gift .gift-donate a.submit, a.submit {
  color:#FFF;
  font-family:"GeorgiaBoldItalic";
  font-size:17px;
  padding:3px 0;
  background-color:#4CD3EC;
  border:#28CAE8 3px solid;
  width:95px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  padding: 5px 10px;
  text-decoration: none;
}

#content div.gift-profile .aside-container, #content div.gift-profile .aside-banner{
  margin:20px 0 0 50px;
}
#content div.gift-profile .first-container{
  margin:0 0 0 50px;
  border:#AFECF7 3px solid;
  background-color:#69D9ED;
}
#content div.gift-profile .aside-container a{
   color: #23B8D1;
    display: block;
    font-size: 13px;
    margin-right: 1px;
    margin-top: 7px;
    text-decoration: none;
}

#content .aside-container .connect_class {
  margin: 10px 0;
  float: left;
}

#content .aside-container .connected_class {
  opacity : 0.4;
  filter: alpha(opacity=40); // msie
  background-color: #000;
  margin: 10px 0;
  float: left;
}

#content div.gift-profile .aside-container .ends-on{
  margin-top:15px;
  padding-top:15px;
  border-top:#187D8E 1px dashed;
}
#content div.gift-profile .aside-container .share-on input{ 
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border:3px solid #C2C2C2;
  color:#6B6B6B;
  font-size:14px;
  padding:5px;
  width:180px;
}
#content div.gift-profile .aside-container p.title{
  font-size:14px;
  color:#187D8E;
}

#content .aside-container h3{
  font-size:14px;
  color:#187D8E;
}

#content div.gift-profile .aside-container p.title span{
  color:#FFF;
}
#content div.gift-profile .aside-container div.info{
  background-color:#FFF;
  color:#23B8D1;
  border:#D5D4D2 4px solid;
  width:180px;
  height:20px;
  padding:5px;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -moz-box-shadow: 4px 4px 5px #56B1C1;
  -webkit-box-shadow: 4px 4px 5px #56B1C1;
  box-shadow: 4px 4px 5px #56B1C1;
}
#content div.gift-profile .aside-container div.advance{
  width:100%;
  overflow:hidden;
}
#content div.gift-profile .aside-container div.stripes{
  background:url(../images/stripes.png) repeat-x;
  display: block;
  height: 20px;
  width: 100%;
}
#content div.gift-profile .aside-container .share-on a{
  display: block;
  margin: 7px auto;
  text-align:center;
}

#content div.gift-profile .aside-container .share-on img{
   margin: 7px auto;
}

#share-facebook textarea, #share-twitter textarea {
  width: 300px !important;
  height: 200px !important;
}
#all_emails div{
 margin: 10px; 
}
#all_emails span {
  margin: 5px;
  padding: 2px;
  border:3px solid #C2C2C2;
  color:#6B6B6B;
}

#release-box label {
  color:#3B3B3B;
  display:inline-block;
  font-size:12px;
  width:100px;
}

#release-box input[type=text]{
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border:3px solid #C2C2C2;
  color:#6B6B6B;
  font-size:14px;
  padding:5px;
  width:250px;
}

#share-facebook input[type=submit], #share-twitter input[type=submit], #release-box input[type=submit], #share-email input[type=submit]{
  background-color:#4CD3EC;
  border:3px solid #28CAE8;
  color:#FFFFFF;
  float:right;
  font-family:"GeorgiaBoldItalic";
  font-size:17px;
  margin:10px 0 0;
  padding:3px 20px;
  width:100px;
}