/* line 4, ../../../../.rvm/gems/ruby-1.8.7-p302@giftyfifty/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../.rvm/gems/ruby-1.8.7-p302@giftyfifty/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../.rvm/gems/ruby-1.8.7-p302@giftyfifty/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../.rvm/gems/ruby-1.8.7-p302@giftyfifty/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../.rvm/gems/ruby-1.8.7-p302@giftyfifty/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../.rvm/gems/ruby-1.8.7-p302@giftyfifty/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../.rvm/gems/ruby-1.8.7-p302@giftyfifty/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../.rvm/gems/ruby-1.8.7-p302@giftyfifty/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 12, ../../app/stylesheets/partials/_base.scss */
ul {
  list-style: none;
}

/* line 16, ../../app/stylesheets/partials/_base.scss */
.last {
  margin-right: 0px !important;
}

/* line 20, ../../app/stylesheets/partials/_base.scss */
body {
  background: url("../images/background.png");
  margin: 10px 0 0 0;
  color: white;
  font-family: Lucida Grande;
  font-size: 12.66px;
}

/* line 26, ../../app/stylesheets/partials/_base.scss */
body a {
  color: white;
  font-family: Lucida Grande;
  font-size: 12.66px;
  text-decoration: none;
}

/* line 31, ../../app/stylesheets/partials/_base.scss */
body a:hover {
  color: #65cde2;
  font-family: Lucida Grande;
  font-size: 12.66px;
}

/* line 35, ../../app/stylesheets/partials/_base.scss */
.clearBoth {
  clear: both;
}

/* line 39, ../../app/stylesheets/partials/_base.scss */
.emptyField {
  border: solid 3px #FF0000 !important;
}

/* line 43, ../../app/stylesheets/partials/_base.scss */
#box-content {
  display: none;
}

/* line 47, ../../app/stylesheets/partials/_base.scss */
.button-blue {
  background-color: #4CD3EC;
  border: 3px solid #28CAE8;
  color: #FFFFFF;
  float: right;
  font-family: georgia;
  font-size: 17px;
  margin: 10px;
  padding: 3px 20px;
  width: 120px;
}

/* line 59, ../../app/stylesheets/partials/_base.scss */
h1 {
  background-color: #DFF3F7;
  color: #23B8D1;
  font-family: georgia;
  font-size: 24px;
  padding: 7px 10px;
  width: 260px;
}

/* line 68, ../../app/stylesheets/partials/_base.scss */
#header {
  background: url("../images/home_header.png") no-repeat;
  display: block;
  height: 131px;
  width: 927px;
  margin: 0 auto;
}
/* line 75, ../../app/stylesheets/partials/_base.scss */
#header #login-box {
  float: right;
  color: #23B8D1;
  font-size: 16px;
  margin: 80px 20px 0 0;
  padding: 15px 10px 10px;
}
/* line 83, ../../app/stylesheets/partials/_base.scss */
#header #login-box ul#login-links li {
  float: left;
  margin: 0  0 0 31px;
}
/* line 89, ../../app/stylesheets/partials/_base.scss */
#header #login-box #user-menu {
  background: url(../images/arrow-dropdown.png) no-repeat right;
  padding: 0 20px 0 0;
  cursor: pointer;
}
/* line 94, ../../app/stylesheets/partials/_base.scss */
#header #login-box #user-menu img {
  border: 3px solid #23B8D1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: -10px 0;
}
/* line 102, ../../app/stylesheets/partials/_base.scss */
#header #login-box #menu-content {
  background: #292929;
  position: absolute;
  display: none;
  z-index: 1000;
  margin: 10px 0 0 -10px;
}
/* line 109, ../../app/stylesheets/partials/_base.scss */
#header #login-box #menu-content li {
  background: #5e5e5e;
  margin: 0 0 0 10px;
  float: left;
  list-style: none;
}
/* line 115, ../../app/stylesheets/partials/_base.scss */
#header #login-box #menu-content li a {
  color: #23B8D1;
  font-size: 14px;
  text-decoration: none;
  margin: 0 0 0 5px;
  width: 100%;
  padding: 0;
}
/* line 125, ../../app/stylesheets/partials/_base.scss */
#header #login-box #menu-content li#last {
  margin-bottom: 10px;
}
/* line 129, ../../app/stylesheets/partials/_base.scss */
#header #login-box #menu-content li:hover {
  background: #797979;
}
/* line 136, ../../app/stylesheets/partials/_base.scss */
#header #label-beta {
  float: left;
  margin: 128px 0 0 -31px;
}
/* line 141, ../../app/stylesheets/partials/_base.scss */
#header #logo {
  float: left;
  margin: 16px 0 0 -39px;
}

/* line 2, ../../app/stylesheets/partials/_home.scss */
body.home #content {
  width: 910px;
  margin: 0 auto;
}
/* line 6, ../../app/stylesheets/partials/_home.scss */
body.home #content #main-content {
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -ms-border-radius-bottomright: 10px;
  -khtml-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -ms-border-radius-bottomleft: 10px;
  -khtml-border-radius-bottomleft: 10px;
  border: 3px solid #10badb;
  border-top: 0;
  background: url("../images/content_bg.png");
  height: 380px;
}
/* line 13, ../../app/stylesheets/partials/_home.scss */
body.home #content #main-content span#what {
  float: left;
  font-size: 19.62px;
  margin: 28px 0 0 -2px;
}
/* line 19, ../../app/stylesheets/partials/_home.scss */
body.home #content #main-content input#gift_url {
  border: 5px solid #67E5FB;
  color: #cecece;
  font-size: 18.90px;
  margin: 7px 0 0 -8px;
  padding: 10px 0 14px 11px;
  width: 566px;
  -moz-border-radius-topright: 15px;
  -webkit-border-top-right-radius: 15px;
  border-top-right-radius: 15px;
  -ms-border-radius-topright: 15px;
  -khtml-border-radius-topright: 15px;
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -ms-border-radius-topleft: 15px;
  -khtml-border-radius-topleft: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
  -ms-border-radius-bottomright: 15px;
  -khtml-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -ms-border-radius-bottomleft: 15px;
  -khtml-border-radius-bottomleft: 15px;
  -moz-box-shadow: 4px 4px 5px #56b1c1;
  -webkit-box-shadow: 4px 4px 5px #56b1c1;
  box-shadow: 4px 4px 5px #56b1c1;
  float: left;
}
/* line 31, ../../app/stylesheets/partials/_home.scss */
body.home #content #main-content .search-submit {
  background: transparent;
  border: 0;
  color: #FFFFFF;
  font-size: 30.46px;
  margin: 15px 0 0;
  float: left;
}
/* line 40, ../../app/stylesheets/partials/_home.scss */
body.home #content #main-content #lens {
  margin: -10px 0 0 -22px;
}
/* line 44, ../../app/stylesheets/partials/_home.scss */
body.home #content #main-content span#copy {
  float: left;
  line-height: 21px;
  margin: 41px 0 0 39px;
  text-align: center;
  width: 160px;
  color: white;
  font-family: Georgia;
  font-size: 21.5px;
  font-style: italic;
}
/* line 53, ../../app/stylesheets/partials/_home.scss */
body.home #content #main-content span#paste {
  float: left;
  margin: -215px 0 0 659px;
  color: white;
  font-family: Georgia;
  font-size: 21.5px;
  font-style: italic;
}
/* line 61, ../../app/stylesheets/partials/_home.scss */
body.home #content ul#second-content {
  margin: 12px 0 17px 0;
  background-color: #3B3B3B;
  border: 3px solid #6B6B6B;
  float: left;
  height: 266px;
  width: 904px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -ms-border-radius-topright: 10px;
  -khtml-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -ms-border-radius-topleft: 10px;
  -khtml-border-radius-topleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -ms-border-radius-bottomright: 10px;
  -khtml-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -ms-border-radius-bottomleft: 10px;
  -khtml-border-radius-bottomleft: 10px;
}
/* line 69, ../../app/stylesheets/partials/_home.scss */
body.home #content ul#second-content li {
  background: url("../images/label.png") no-repeat;
  float: left;
  margin: 27px 37px 0 28px;
  width: 240px;
}
/* line 75, ../../app/stylesheets/partials/_home.scss */
body.home #content ul#second-content li h3 {
  color: #00cbeb;
  font: italic 23.5px Georgia;
  margin: 0 0 0 19px;
}
/* line 81, ../../app/stylesheets/partials/_home.scss */
body.home #content ul#second-content li p {
  margin: 0 0 0 19px;
}
/* line 85, ../../app/stylesheets/partials/_home.scss */
body.home #content ul#second-content li img {
  margin: 5px 0 0 30px;
}
/* line 90, ../../app/stylesheets/partials/_home.scss */
body.home #content ul#second-content li.last-label {
  margin: 27px 0 0 21px;
}
/* line 95, ../../app/stylesheets/partials/_home.scss */
body.home #content ul#third-content {
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -ms-border-radius-topright: 10px;
  -khtml-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -ms-border-radius-topleft: 10px;
  -khtml-border-radius-topleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -ms-border-radius-bottomright: 10px;
  -khtml-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -ms-border-radius-bottomleft: 10px;
  -khtml-border-radius-bottomleft: 10px;
  background: url("../images/content_bg.png");
  border: 3px solid #10badb;
  float: left;
  height: 125px;
  width: 904px;
  padding: 24px 0 0 0;
}
/* line 104, ../../app/stylesheets/partials/_home.scss */
body.home #content ul#third-content li {
  float: left;
  margin: 0 22px 0 51px;
  width: 240px;
}
/* line 109, ../../app/stylesheets/partials/_home.scss */
body.home #content ul#third-content li p {
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  width: 200px;
}
/* line 117, ../../app/stylesheets/partials/_home.scss */
body.home #content ul#third-content li.last {
  margin: 0 0px 0 37px;
}
/* line 120, ../../app/stylesheets/partials/_home.scss */
body.home #content ul#third-content li.last p {
  width: 198px;
}
/* line 125, ../../app/stylesheets/partials/_home.scss */
body.home #content ul#third-content h3 {
  color: #3b3b3b;
  font: italic 25.3px Georgia;
  margin: 0 0 7px 0;
}
/* line 133, ../../app/stylesheets/partials/_home.scss */
body.home #footer {
  font-size: 12px;
  margin: 20px auto 0;
  width: 911px;
}
/* line 138, ../../app/stylesheets/partials/_home.scss */
body.home #footer a {
  font-size: 12px;
}
/* line 142, ../../app/stylesheets/partials/_home.scss */
body.home #footer li {
  float: left;
}
/* line 146, ../../app/stylesheets/partials/_home.scss */
body.home #footer ul#footer-legal {
  float: left;
  margin-left: 140px;
}
/* line 151, ../../app/stylesheets/partials/_home.scss */
body.home #footer ul#footer-friends {
  float: left;
  margin-left: 160px;
}
/* line 156, ../../app/stylesheets/partials/_home.scss */
body.home #footer li#about {
  margin-right: 16px;
}
/* line 159, ../../app/stylesheets/partials/_home.scss */
body.home #footer li#blog {
  margin-right: 22px;
}
/* line 162, ../../app/stylesheets/partials/_home.scss */
body.home #footer li#team {
  margin-right: 22px;
}
/* line 165, ../../app/stylesheets/partials/_home.scss */
body.home #footer li#copys {
  margin-right: 18px;
}
/* line 168, ../../app/stylesheets/partials/_home.scss */
body.home #footer li#terms {
  margin-right: 23px;
}
/* line 171, ../../app/stylesheets/partials/_home.scss */
body.home #footer li#privacy {
  margin-right: 15px;
}
/* line 174, ../../app/stylesheets/partials/_home.scss */
body.home #footer li#friend_us {
  margin-right: 11px;
}
/* line 177, ../../app/stylesheets/partials/_home.scss */
body.home #footer li#facebook_link {
  margin: -9px 0 0 0;
}
/* line 180, ../../app/stylesheets/partials/_home.scss */
body.home #footer li#twitter_link {
  margin: -10px 0 0 0;
}

/* line 1, ../../app/stylesheets/partials/_boxes.scss */
div#login-signin-box {
  font-weight: bold;
}
/* line 4, ../../app/stylesheets/partials/_boxes.scss */
div#login-signin-box div {
  float: left;
  padding: 0 10px 0 5px;
  width: 290px;
}
/* line 10, ../../app/stylesheets/partials/_boxes.scss */
div#login-signin-box .login {
  background: url("../images/login_bg.png") no-repeat;
  min-height: 230px;
}
/* line 15, ../../app/stylesheets/partials/_boxes.scss */
div#login-signin-box .sign-in {
  background: url("../images/login_big_bg.png") no-repeat scroll 0 0 transparent;
  min-height: 334px;
}
/* line 20, ../../app/stylesheets/partials/_boxes.scss */
div#login-signin-box .account {
  margin: 0 75px 0 0;
}
/* line 24, ../../app/stylesheets/partials/_boxes.scss */
div#login-signin-box .login {
  margin-top: 50px !important;
}
/* line 29, ../../app/stylesheets/partials/_boxes.scss */
div#login-signin-box #providers p {
  margin: 10px;
}
/* line 32, ../../app/stylesheets/partials/_boxes.scss */
div#login-signin-box #providers img {
  float: left;
  margin: 0 0 0 50px;
  width: 15%;
}
/* line 37, ../../app/stylesheets/partials/_boxes.scss */
div#login-signin-box #providers a {
  font-size: 14px;
}
/* line 40, ../../app/stylesheets/partials/_boxes.scss */
div#login-signin-box #providers a span {
  font-size: 20px;
}
/* line 46, ../../app/stylesheets/partials/_boxes.scss */
div#login-signin-box h1 {
  background: none;
  color: #FFFFFF;
  font-family: Georgia;
  font-size: 24px;
  text-align: right;
}
/* line 54, ../../app/stylesheets/partials/_boxes.scss */
div#login-signin-box label {
  color: #3B3B3B;
  display: inline-block;
  font-size: 12px;
  width: 200px;
}
/* line 62, ../../app/stylesheets/partials/_boxes.scss */
div#login-signin-box input[type=text], div#login-signin-box input[type=password] {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -ms-border-radius-topright: 5px;
  -khtml-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -ms-border-radius-topleft: 5px;
  -khtml-border-radius-topleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -ms-border-radius-bottomright: 5px;
  -khtml-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -ms-border-radius-bottomleft: 5px;
  -khtml-border-radius-bottomleft: 5px;
  border: 3px solid #C2C2C2;
  color: #6B6B6B;
  font-size: 10px;
  height: 10px;
  padding: 5px;
  width: 250px;
}
