<% if type == 'sign-in' %>
  <h1>Sign Up</h1>
  <span class="sign-in-text">A Gifty Fifty account is necessary to continue</span>
  <span class="sign-in-text">editing your event.</span>
<% end %>
<% if type == 'login' %>
  <h1>Log In</h1>
  <span class="sign-in-text">Please log in to continue on Gifty Fifty.</span>
<% end %>