<%= link_to 'Facebook', facebook_invitations_url, :remote => true %>
<%= link_to 'Twitter', twitter_invitations_url, :remote => true %>

<div id="friends_container">
  
</div>


<script>
  $(function() {
    friendSelector();
  });
</script>