<div id="donation_thanks" class="span-6 prepend-9">
  <p>Thank you for being part of my gift.</p>
</div>

<% if current_user.twitter_account or current_user.facebook_account %>
<div id="donation_share" class="span-6 prepend-9">
  <div>
    <p>
      Share your donation on<br/>
      <%= link_to(image_tag('twitter_64.png'), event_twitter_path(@event,:message => 'share'), :method => :post) if current_user.twitter_account %>
      <%= link_to(image_tag('facebook_64.png'), event_facebook_path(@event,:message => 'share'), :method => :post ) if current_user.facebook_account%>
    </p>
  </div>
</div>
<% end %>